.page-container {
  min-height: 100vh;
  padding: 1.5rem;
  color: white;
  background-image: radial-gradient(circle, #091c18 50%, rgba(34, 34, 34, 0.07) 100%),
    url('../assets/background.svg');
  background-repeat: repeat;
  background-size: auto;
  background-color: #091c18;
}

.product-container {
  position: relative;
  margin: 100px auto 0;
  /* width: 90%; */
  max-width: 1200px;
  z-index: 20;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  box-shadow: inset 0 2px 4px rgba(0, 255, 195, 0.125);
  backdrop-filter: blur(8px);
  background-color: rgba(9, 28, 24, 0.7);
  background-image: radial-gradient(circle,
      #091c18 0%,
      rgba(255, 255, 255, 0.075) 100%),
    url('/src/assets/background.svg');
  background-repeat: repeat;
  background-size: auto, auto;
  border-radius: 10px;
}

.login-container {
  position: relative;
  margin: 100px auto 0;
  /* width: 90%; */
  max-width: 500px;
  z-index: 20;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  box-shadow: inset 0 2px 4px rgba(0, 255, 195, 0.125);
  backdrop-filter: blur(8px);
  background-color: rgba(9, 28, 24, 0.7);
  background-image: radial-gradient(circle,
      #091c18 0%,
      rgba(255, 255, 255, 0.075) 100%),
    url('/src/assets/background.svg');
  background-repeat: repeat;
  background-size: auto, auto;
  border-radius: 10px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-green {
  background: #16a34a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-green:hover {
  background: #15803d;
}

.btn-gray {
  background: #4b5563;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.btn-gray:hover {
  background: #374151;
}

.product-form {
  background: #0f2c26;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.PC-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* Single column */
  gap: 1rem;
  /* Space between fields */
}

.form-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;

}

.form-grid .full-width {
  grid-column: span 2;
}

.form-label-input {
  margin-top: 10px;
}

.form-grid input {
  background: #0f2c26;
  border: 1px solid #4b5563;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  width: 100%;
  color: white;
  margin-top: 10px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.active-checkbox-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.active-checkbox-field input {
  appearance: none;
  -webkit-appearance: none;
  width: 36px;
  /* wider rectangle */
  height: 24px;
  border: none;
  border-radius: 6px;
  /* rounded corners */
  background-color: #0f1f1c;
  /* dark background when unchecked */
  cursor: pointer;
  position: relative;
  outline: none;
}

.active-checkbox-field input:checked {
  background-color: #10b981;
  /* green fill when checked */
}

.active-checkbox-field input:checked::after {
  content: "✔";
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 16px;
  color: white;
}

.active-checkbox-field label {
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.sub-form-title{
  font-weight: 600; 
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: #0ec98a;
}

.advanced-toggle button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(74 222 128 / var(--tw-text-opacity, 1));
  background: none;
  border: none;
}

.advanced-toggle button:hover {
  color: #00f1a9;
}

.advanced-section {
  box-shadow: inset 0 2px 4px rgba(0, 255, 195, 0.125);
  backdrop-filter: blur(8px);
  background-color: rgba(9, 28, 24, 0.7);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.config-block {
  border: 1px solid #374151;
  padding: 1rem;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.config-block h3 {
  grid-column: span 2;
  font-size: 1.125rem;
  font-weight: 600;
  color: #00f1a9;
}

.select-container {
  margin-bottom: 1rem;
}

.select-label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: white;
}

.nested-form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #0f2c26;
  color: white;
  border: 1px solid #4b5563;
  border-radius: 6px;
  outline: none;
  transition: box-shadow 0.2s ease;
  margin-top: 12px;
}

.nested-form-input:focus {
  box-shadow: 0 0 0 2px #0f2c26;
  /* purple-600 glow */
}

.nester-form-input-text {
  margin-bottom: 1rem;
}

.nester-form-input-text label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: white;
}

.nester-form-input-text input {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #0f2c26;
  color: white;
  border: 1px solid #4b5563;
  border-radius: 6px;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.nester-form-input-text input:focus {
  box-shadow: 0 0 0 2px #0f2c26;
}

.form-checkbox {
  display: contents;
}

.form-checkbox .title {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: white;
}

.form-checkbox .options-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

.form-checkbox .option-label {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
  gap: 0.5rem;
  color: white;
  font-size: 0.95rem;
  cursor: pointer;
}

.form-checkbox .option-label input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #00b37d;
  border-radius: 4px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease, border-color 0.2s ease;
}

.form-checkbox .option-label input[type="checkbox"]:checked {
  background: #00b37d;
  border-color: #00b37d;
}

.form-checkbox .option-label input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  position: absolute;
  font-size: 0.8rem;
  top: 1px;
  left: 3px;
}

.form-checkbox .option-label input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 179, 125, 0.4);
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
  align-items: start;

}

.radio-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 12px 0;
}

.text-area-parent {
  position: relative;
}

.text-area {
  background: rgba(15, 44, 38, 0.6);
  /* semi-transparent version of #0f2c26 */
  color: white;
  border: 1px solid #4b5563;
  border-radius: 6px;
  padding: 10px;
  height: auto;
  /* position: fixed; */
  width: 100%;

  /* Blur effect */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  /* Safari support */
}

.custom-radio.highlight {
  opacity: 1;
  font-weight: 600;
}

.custom-radio.dim {
  opacity: 0.4;
}

.custom-radio.highlight .radio-indicator {
  border-color: #16a34a;
  /* green border for selected */
  background-color: #16a34a;
  /* filled circle */
}

.custom-radio.dim .radio-indicator {
  border-color: #9ca3af;
  /* gray border for unselected */
  background-color: transparent;
  /* empty circle */
}

.text-area-normal {
  background: rgba(15, 44, 38, 0.6);
  /* semi-transparent version of #0f2c26 */
  color: white;
  border: 1px solid #4b5563;
  border-radius: 6px;
  padding: 10px;
  height: auto;
  width: 40%;

  /* Blur effect */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  /* Safari support */
}

.radio-title {
  font-size: 0.9rem;
  margin-bottom: 8px;
  grid-column: 1 / -1;
  /* span entire row */
  resize: vertical;
  color: #d0d0d0;
}

.radio-group {
  display: flex;
  gap: 16px;
}

.custom-radio {
  position: relative;
  cursor: pointer;
  font-size: 0.85rem;
  color: #fff;
  padding-left: 28px;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
}

.radio-indicator {
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #00ffae;
  background-color: transparent;
  box-shadow: inset 0 0 0 4px transparent;
  transition: all 0.2s ease;
}

.custom-radio input:checked+.radio-indicator {
  background-color: #00ffae;
  box-shadow: 0 0 5px #00ffae, 0 0 10px #00ffae;
}

.custom-radio input:checked+.radio-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.form-section-box {
  background: #0f2c26;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #333;
}

.form-section-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #00e0b5;
  margin-bottom: 12px;
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
}

.boolean-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-actions {
  display: flex;
  gap: 1rem;
}

.search-bar {
  position: relative;
  margin-bottom: 1rem;
}

.search-bar input {
  background: #0f2c26;
  border: 1px solid #4b5563;
  border-radius: 6px;
  padding: 0.5rem 2.5rem;
  width: 100%;
  color: white;
}

.search-bar .search-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #9ca3af;
}

.product-table {
  width: 100%;
  font-size: 0.875rem;
  border-collapse: collapse;
}

.product-table thead {
  background: #0f2c26;
  color: #9ca3af;
  text-align: justify;
}

.product-table th,
.product-table td {
  padding: 0.5rem 1rem;
}

.product-table tr {
  border-top: 1px solid #1d2b4f;
}

.product-table tr:hover {
  background: rgba(0, 255, 200, 0.06);
  color: #00ffc8;
}

.edit-btn {
  color: #00ffc8;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.edit-btn:hover {
  text-decoration: underline;
}

.no-data {
  text-align: center;
  padding: 1.5rem;
  color: #6b7280;
}

.scroll-top {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #0ede9d;
  border: 1px solid #0ede9d;
  padding: 5px;
  /* box-shadow: 0px 2px #0ede9d; */
  background-color: #091c18;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.btn-green-sm {
  background: #00ffc8;
  color: black;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #00ffc8;
}

.btn-gray-sm {
  background: transparent;
  color: #ccc;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #666;
}



.form-heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

.form-heading-subheading {
  font-size: 1.5rem;
  font-weight: 700;
  /* text-align: center; */
  margin-bottom: 1.5rem;
  color: white;
}

@keyframes blinkRed {

  0%,
  100% {
    background-color: transparent;
  }

  50% {
    color: #dc3545;
    border-radius: 5px;
  }
}

.blink-red {
  animation: blinkRed 3s infinite;
}

.product-checkbox {
  background: #0f2c26;
  border: 1px solid #4b5563;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: white;
  margin-top: 10px;
  width: 10% !important;
}

.product-dropdown-text {
  width: 100%;
  color: white;
  font-weight: 500;
}

.disabled-input,
.select-container select:disabled {
  background-color: #1c1c1c;
  color: #999;
  cursor: not-allowed;
}

.login-submit {
  display: flex;
  justify-content: center;
}

.remember {
  margin-top: 10px;
}

.error-msg {
  color: red;
  font-size: 10px;
}

/* ------------chechbox-------------- */

.block-label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.module-checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  font-size: 16px;
  color: #ffffff;
  position: relative;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 24px;
  width: 24px;
  background-color: #10241d;
  /* dark bg */
  border: 2px solid #1dbd6f;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  transition: background-color 0.2s ease;
}

.custom-checkbox input:checked~.checkmark {
  background-color: #1dbd6f;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark::after {
  display: block;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.field-group-box {
  background-color: #10241d;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}


/* -------select drop down--------------- */
/* Control (the box) */
.custom-select__control {
  background: #0f2c26 !important;
  border-color: #333 !important;
  color: white !important;
}

/* Menu (dropdown box) */
.custom-select__menu {
  background: #0f2c26 !important;
  color: white !important;
  z-index: 9999;
  /* ensure visibility */
}

/* Each dropdown option */
.custom-select__option {
  background: #0f2c26 !important;
  color: white !important;
  cursor: pointer;
}

/* Focused (hovered) option */
.custom-select__option--is-focused {
  background: #0f2c26 !important;
}

/* Selected value text */
.custom-select__single-value {
  color: white !important;
}

/* Input text when typing */
.custom-select__input input {
  color: white !important;
}

/* Placeholder text */
.custom-select__placeholder {
  color: gray !important;
}

.optionssheet {
  background: #0f2c26;
  padding: 10px;
}