@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*/////////////////// red theme////////////////////////////////// */
  --primary-color: red;
  --menu-hover-bg: #1c1717;
  --borderBg-color: #3b0000;
  --alert-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
  --sweeper-line-bg: linear-gradient(
    to right,
    transparent,
    rgba(255, 0, 0, 0.4),
    transparent
  );
  --input-shadow: 0 0 0 3px rgba(255, 0, 0, 0.4);
  --login-btn-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
  --login-box-corner-shadow: 0 0 30px 10px rgba(178, 34, 34, 0.6);
  --login-card-animated-bg: linear-gradient(
    270deg,
    rgba(26, 14, 14, 0.884),
    rgba(12, 8, 8, 0.6),
    rgba(26, 14, 14, 0.8)
  );
  --card-footer-line: rgba(255, 0, 0, 0.15);
  --dash-card-hover-bg: linear-gradient(
    135deg,
    #ff00001f 0%,
    #ff000008 30%,
    #ff000014 70%,
    #ff00000f 100%
  );
  --dash-card-hover-shadow: 0 25px 50px #ff00000f, 0 15px 35px #0000001f,
    inset 0 1px #ffffff1f, inset 0 -1px #ff000008, 0 0 40px #ff000014;
  --infra-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 20px rgba(255, 0, 0, 0.4);
  --corner-box-border: #ff000080;
  --glass-card-linear-bg: linear-gradient(135deg, #ff000008 0%, #0000 100%);
  --cards-bg: #120505;
  --menu-active-bg: #b91c1c1a;
  --glass-wave: linear-gradient(
    120deg,
    transparent,
    rgba(0, 255, 200, 0.15),
    transparent
  );
  --body-color: #0e0101;

  /* //////////////////////////////base theme/////////////////////////////////////////// */

  /* --primary-color: #00d4aa;
  --menu-hover-bg: rgba(16, 185, 129, 0.1);
  --borderBg-color: #00d4aa33;
  --alert-shadow: 0 0 30px rgba(0, 255, 200, 0.3);
  --sweeper-line-bg: linear-gradient(
    to right,
    transparent,
    rgba(45, 212, 191, 0.4),
    transparent
  );
  --input-shadow: 0 0 0 2px rgba(16, 185, 129, 0.5);
  --login-btn-shadow: 0 0 20px rgba(16, 185, 129, 0.5);
  --login-box-corner-shadow: 0 0 30px 10px rgba(34, 112, 86, 0.6);
  --login-card-animated-bg: linear-gradient(
    270deg,
    rgba(14, 25, 26, 0.884),
    rgba(8, 9, 12, 0.6),
    rgba(14, 25, 26, 0.8)
  );
  --card-footer-line: rgba(53, 98, 89, 0.3);
  --dash-card-hover-bg: linear-gradient(
    135deg,
    #00d4aa1f 0%,
    #00d4aa08 30%,
    #00cdb714 70%,
    #00b4a60f 100%
  );
  --dash-card-hover-shadow: 0 25px 50px #00d4aa0f, 0 15px 35px #0000001f,
    inset 0 1px #ffffff1f, inset 0 -1px #00d4aa08, 0 0 40px #00d4aa14;
  --infra-shadow: 0 0 10px rgba(45, 212, 191, 0.6),
    0 0 20px rgba(45, 212, 191, 0.4);
  --corner-box-border: #00d4aa80;
  --glass-card-linear-bg: linear-gradient(135deg, #00d4aa08 0%, #0000 100%);
  --menu-active-bg: #11996c1a;
  --cards-bg: #0d1017;
  --glass-wave: linear-gradient(
    120deg,
    transparent,
    rgba(255, 0, 0, 0.15),
    transparent
  );
  --body-color: #0a0b0e; */
}

body {
  font-family: Arial, sans-serif;
  /* background: seashell; */
  background: var(--body-color);
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background: var(--primary-color);
}
/* body {
  font-family: 'Share Tech Mono', monospace;
} */
/* @font-face {
  font-family: 'Digital7Mono';
  src: url('./assets/fonts/digital-7.ttf') format('truetype');
}

body {
  font-family: 'Digital7Mono', monospace;
}
*/

/* common classes init*/
.root-header {
  @apply text-[20px] md:text-[30px] font-bold;
  color: var(--primary-color);
  /* operation Dashboard title and in infra 2 text title */
}

.root-sub-header {
  @apply text-[12px] md:text-[14px] mt-1 text-gray-400;
  /* operation Dashboard sub title and infra sub title*/
}

.card-root-label {
  @apply text-[12px] md:text-[14px];
  color: var(--primary-color);
  letter-spacing: 0.5px;
  /* all dashboard card menu labels */
}

.card-legend-circle {
  @apply rounded-full w-1 md:w-1.5 h-1 md:h-1.5 shrink-0;
}

.card-legend-list {
  @apply text-[10px] md:text-[12px] text-gray-400;
}
.root-title {
  @apply text-[14px] md:text-[18px];
  color: var(--primary-color);
}

.dash-footer-values {
  @apply text-[12px] md:text-[14px];
}

.dash-footer-label {
  @apply text-[10px] md:text-[12px] text-gray-400;
}

.footer-line {
  @apply h-[1px] my-[13px] mx-[-16px] xl:mx-[-32px];
  background-color: var(--card-footer-line);
}

.dash-kyc-label {
  @apply text-[12px] md:text-[14px] text-gray-400;
}

.dash-kyc-values {
  @apply text-[20px] md:text-[24px] font-bold;
}

.dash-kyc-icons {
  @apply w-5 md:w-10  h-5 md:h-10;
}

.submenu-card-label {
  @apply text-[12px] text-gray-400 font-bold;
}

.submenu-card-value {
  @apply text-[20px] md:text-[24px] font-bold;
}

.user-title {
  @apply text-[15px] md:text-[18px] font-bold mb-1 text-center sm:text-left;
  color: var(--primary-color);
}

.user-subtitle {
  @apply text-[12px] text-gray-400 text-center sm:text-left;
}

.user-table-header {
  @apply text-[12px] md:text-[15px];
}

.guidelines-title {
  @apply text-[12px] md:text-[14px] text-gray-200;
}

.guidelines-desc {
  @apply text-[12px] md:text-[14px] text-gray-400;
}

/*------------------------------------------ table styles ---------------------------- */

.table-container {
  @apply overflow-x-auto overflow-y-auto border border-gray-800 rounded-lg w-full max-h-[350px] sm:max-h-full;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

table thead {
  @apply sticky top-0 z-10;
}

table thead tr,
table tbody tr {
  @apply border-b border-gray-800 bg-[#101316];
}

table tbody tr:hover {
  @apply bg-[#161a1d];
}

table thead tr th {
  @apply font-normal text-[14px] p-2 w-[400px] whitespace-nowrap;
  color: var(--primary-color);
}

table tbody tr td {
  @apply text-[12px] whitespace-nowrap px-2 py-1;
}

/*------------------------------------------ table styles end ---------------------------- */

/* ---------------------------menu ------------------------------------------ */
.submenu-list {
  @apply text-[12px] text-[#d1d5db] px-2.5 py-1.5 rounded-lg cursor-pointer 
    transition duration-300 flex items-center gap-[6px] font-extralight opacity-0 -translate-x-5;
}

.main-menu-list {
  @apply text-[13px] flex items-center rounded-lg gap-[12px] px-2 py-1 border-0 bg-transparent font-semibold w-full;
}

.main-menu-list:hover,
.submenu-list:hover {
  background: var(--menu-hover-bg);
  color: var(--primary-color);
}
.main-menu-list.active {
  background: var(--primary-color);
  color: #000;
}
.reset-btn {
  @apply flex items-center gap-2 
         bg-[var(--borderBg-color)] border border-[var(--borderBg-color)] rounded-lg 
         px-[14px] py-[4px] text-[12px] text-[var(--primary-color)] 
         cursor-pointer transition-all duration-200 ease-in-out;
  &:hover {
    @apply opacity-80;
  }
}

/* ---------------------------menu lsit end------------------------------------------ */

/*------------------------------- buttons----------------------------------------------- */
.prev-next-disabled-btn {
  @apply bg-[#1c2b45] text-gray-500 cursor-not-allowed;
}
.prev-next-active-btn {
  @apply bg-[#0a1625] text-white hover:text-[var(--primary-color)];
}
.active-pagination-btn {
  @apply primary-bg text-black font-bold;
}
.inactive-pagination-btn {
  @apply bg-[#1c2b45] text-white hover:text-[var(--primary-color)];
}

.login-btn {
  @apply h-[48px] rounded-lg bg-[var(--primary-color)] text-black font-semibold 
    flex justify-center items-center gap-[10px] transition-opacity duration-200 ease-in-out 
      mt-[-20px] text-[12px] opacity-90;
  box-shadow: var(--login-btn-shadow);

  &:hover {
    @apply opacity-100;
    box-shadow: 0 0 10px var(--primary-color);
  }
}
/* -------------------------------------buttons rnd------------------------------------------- */
/* common class end */

.react-select__control {
  background-color: #1b1b3b;
  border-color: #333;
  color: white;
}

.react-select__menu {
  background-color: #1b1b3b;
  color: white;
}
.react-select__single-value {
  color: white;
}
.react-select__option--is-focused {
  background-color: #333;
}

.mandatory::after {
  content: "*";
  color: #ef4444; /* Tailwind red-500 */
}

.mandatory-space::after {
  content: "*";
  color: #ef4444;
  margin-left: 0.25rem;
}

.border-chart {
  border-color: color-mix(in oklab, #008284 15%, transparent);
}

.bg-chart {
  background-color: color-mix(in oklab, #008284 5%, transparent);
}

.bg-primary {
  background-color: color-mix(in oklab, var(--primary-color) 10%, transparent);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(54%) sepia(78%) saturate(300%) hue-rotate(120deg);
  opacity: 1;
}
